extends layout

block content
	.container
		img(src="http://safetelecom.net/assets/images/SafeTelecom_black.png")
		div(class="header")
			h1= title
			div
				h4 Total Calls: #{result.meta.length}
				h4= 'Total Time: ' + moment().startOf('day').seconds(result.meta.billsec).format('H:mm:ss')

		table(class="table")
			thead
				tr
					th Call Time
					th Caller ID
					th Call Direction
					th Duration
					th From
					th To
					th Recording
			each record in result.docs
				tr
					td= moment(record.variables.start_stamp).format("MM/DD/YY LTS")
					td= record.variables.caller_id_name
					td= record.variables.direction
					td= moment().startOf('day').seconds(record.variables.billsec).format('H:mm:ss')
					td= record.variables.sip_from_user ? record.variables.sip_from_user.slice(-10) : undefined
					td= record.variables.last_sent_callee_id_number ? record.variables.last_sent_callee_id_number.slice(-10) : undefined
					td
						a(href="//s3.amazonaws.com/mytickets-recordings/recordings/" + record.variables.uuid + ".mp3") MP3
					td
						a(href="//s3.amazonaws.com/mytickets-recordings/recordings/" + record.variables.uuid + ".wav") WAV
